    <section class="content">
      <div class="comments">
        <a name="Blog" id="Blog"></a>
        <div class="comments_wropper">
          <div class="slider_items">
            <div class="item">
              <div class="comment">
                <div class="comment_text">
                  <div class="foto">
                    <img src="img/comment_foto_1.jpg" alt="foto">
                  </div>
                  <div class="text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                    <div class="sub">
                      <p>
                        <span>Trainer<br></span>
                        <span>Laura Shepard</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="author clearfix">
                  <div class="foto">
                    <img src="img/author_foto_1.png" alt="foto">
                  </div>
                  <div class="sub">
                    <p>
                    <span>Sara Taylor<br></span>
                    <span>Trainer</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="comment">
                <div class="comment_text">
                  <div class="foto">
                    <img src="img/comment_foto_1.jpg" alt="foto">
                  </div>
                  <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                  </p>
                  <div class="sub">
                    <p>
                      <span>Trainer<br></span>
                      <span>Laura Shepard</span>
                    </p>
                  </div>
                </div>
                </div>
                <div class="author clearfix">
                  <div class="foto">
                    <img src="img/author_foto_1.png" alt="foto">
                  </div>
                  <div class="sub">
                    <p>
                    <span>Sara Taylor<br></span>
                    <span>Trainer</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
