    <section class="footer">
      <div class="footer_wrapper">
        <div class="footer_left">
          <h2>About</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="social">
            <a href="#" class="pinterst"></a>
            <a href="#" class="twitter"></a>
            <a href="#" class="facebook"></a>
            <a href="#" class="google"></a>
            <a href="#" class="instagram"></a>
          </div>


        </div>
        <div class="footer_right">
          <div class="">
            <h2>CONTACT US</h2>
          </div>
          <div class="contact clearfix">

            <div class="contact_item adress clearfix">
              <p>5419 Joseph Mountains Apt. 716</p>
            </div>
            <div class="contact_item mail clearfix">
              <p>joga.info@example.com</p>
            </div>
            <div class="contact_item phone clearfix">
              <p>+1 234 567 89<br> +1 234 678 90</p>
            </div>

            <div class="contact_item site clearfix">
              <p>www.example.com</p>
            </div>

          </div>


        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2016-2017 Yoga classes</p>
      </div>
    </section>
