    <section class="content">
      <div class="offers">
        <a name="Reservation" id="Reservation"></a>
        <div class="offer">

          <div class="price">
            <p>$ <span>49</span> / month</p>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <span class="anderline"></span>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <span class="anderline"></span>
              <li>NUTRITION ADVICER: NO</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

        <div class="offer">

          <div class="price">
            <p>$ <span>69</span> / month</p>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <span class="anderline"></span>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <span class="anderline"></span>
              <li>NUTRITION ADVICER: YES</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

        <div class="offer">

          <div class="price">
            <p>$ <span>99</span> / month</p>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <span class="anderline"></span>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <span class="anderline"></span>
              <li>NUTRITION ADVICER: YES</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

      </div>
    </section>
