@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Semi';
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }

.font_open-sans-bold {font-family: "OpenSans-Bold";}
.font_open-sans-semi {font-family: "OpenSans-Semi";}
.font_open-sans {font-family: "OpenSans";}Open_Sans
